<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t [%-5p] (%C:%M:%L) %m%n" />
    </layout>
  </appender>

  <logger name="com.raf.xwing" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="Console" />
  </logger>

  <logger name="org.springframework" additivity="false">
    <level value="INFO" />
    <appender-ref ref="Console" />
  </logger>

  <logger name="org.hibernate" additivity="false">
    <level value="INFO" />
    <appender-ref ref="Console" />
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="Console" />
  </root>

</log4j:configuration>